@import '../../config.css';

.InputGroup {
  display: block;
  width: 100%;

  &__label {
    font-size: calc(var(--fontSize));
    line-height: calc(var(--baseline) * 1.5);
  }

  &__input {
    position: relative;
    width: 100%;
  }

  &__error {
    font-size: calc(var(--baseline));
    font-weight: 300;
    line-height: calc(var(--baseline) * 1.5);

    color: var(--colorError);
  }
}
