@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);:root {

  /* https://flatuicolors.com/ */
}
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5;
}
input,
textarea,
button {
  font: inherit;
  line-height: inherit;

  color: inherit;

  border: none;
  background: none;
}
button {
  cursor: pointer;
}
textarea {
  resize: vertical;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font: inherit;
  line-height: inherit;
}
:root {

  /* https://flatuicolors.com/ */
}

.App__App___lBEXI {
  width: 100%;
  height: 100%;
  background: #bdc3c7;
}

.App__Form___1-70M {
  padding: 24px;
  padding: 1.5rem;
  width: 360px;
  width: 22.5rem;
  background: white;
}
:root {

  /* https://flatuicolors.com/ */
}

.InputGroup__InputGroup___1xGi6 {
  display: block;
  width: 100%
}

.InputGroup__InputGroup__label___38Ihl {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem
}

.InputGroup__InputGroup__input___1u4VY {
  position: relative;
  width: 100%
}

.InputGroup__InputGroup__error___FtWYH {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 18px;
  line-height: 1.125rem;
  color: #e74c3c
}
:root {

  /* https://flatuicolors.com/ */
}

.InlineGroup__InlineGroup___22fqc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%
}

.InlineGroup__InlineGroup__label___vVDQ0 {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem
}

.InlineGroup__InlineGroup__input___3pWlz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 12px;
  margin-right: 0.75rem;
  width: 18px;
  width: 1.125rem;
  height: 18px;
  height: 1.125rem
}

.InlineGroup__InlineGroup__error___2TD91 {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 18px;
  line-height: 1.125rem;
  color: #e74c3c
}
:root {

  /* https://flatuicolors.com/ */
}

.LabelFirstGroup__LabelFirstGroup___n_Y6N {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: 'flex-start';
      -ms-flex-align: 'flex-start';
          align-items: 'flex-start';
  width: 100%
}

.LabelFirstGroup__LabelFirstGroup__label___LUwmT {
  padding: 6px
              12px
              6px
              0;
  padding: 0.375rem
              0.75rem
              0.375rem
              0;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  text-align: right
}

.LabelFirstGroup__LabelFirstGroup__input___2icsC {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%
}

.LabelFirstGroup__LabelFirstGroup__error___1iSY7 {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 18px;
  line-height: 1.125rem;
  color: #e74c3c
}
:root {

  /* https://flatuicolors.com/ */
}

.Input__Input___1sMwZ {
  display: block;
  width: 100%;
  padding: 6px;
  padding: 0.375rem;

  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;

  color: #34495e;

  background-color: none;
  border: none;
  border-bottom: 1px solid #bdc3c7;

  -webkit-transition-property: border-color, color;

  transition-property: border-color, color;
  -webkit-transition-duration: 0.2;
          transition-duration: 0.2;

  cursor: pointer
}

.Input__Input___1sMwZ:focus {
  outline: none;
  border-color: #3498db
}

.Input__Input___1sMwZ:disabled {
  color: rgba(52, 73, 94, 0.5);
  cursor: not-allowed
}

.Input__Input_error___2iK7g {
    border-color: #e74c3c;
    color: #e74c3c
  }

.Input__Input_error___2iK7g:focus {
  border-color: #e74c3c
}
:root {

  /* https://flatuicolors.com/ */
}

.Select__Select___3j4mM {
  display: block;
  width: 100%;
  position: relative
}

.Select__Select___3j4mM:after {
  content: '\25BC';
  display: block;
  position: absolute;
  top: 0;
  right: 12px;
  right: 0.75rem;
  line-height: 30px;
  line-height: 1.875rem;
  font-size: 8px;
  font-size: 0.5rem;
  color: #34495e
}

.Select__Select__fake___1trwW {
  display: block;
  width: 100%;
  padding: 6px
              36px
              6px
              6px;
  padding: 0.375rem
              2.25rem
              0.375rem
              0.375rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  color: #34495e;
  border: none;
  border-bottom: 1px solid #bdc3c7;
  -webkit-transition-property: border-color, color;
  transition-property: border-color, color;
  -webkit-transition-duration: 0.2;
          transition-duration: 0.2;
  cursor: pointer
}

.Select__Select__input___c4EWX {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  opacity: 0;
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1
}

.Select__Select__input___c4EWX:disabled {
  color: rgba(52, 73, 94, 0.5);
  cursor: not-allowed
}

.Select__Select__input___c4EWX:focus + .Select__Select__fake___1trwW {
  border-color: #3498db
}

.Select__Select_disabled___3slR6 {
  }

.Select__Select_disabled___3slR6 .Select__Select__fake___1trwW {
  color: rgba(52, 73, 94, 0.5)
}

.Select__Select_error___1rYLG {
  }

.Select__Select_error___1rYLG .Select__Select__fake___1trwW {
  color: #e74c3c;
  border-color: #e74c3c
}
:root {

  /* https://flatuicolors.com/ */
}

.Checkbox__Checkbox___1l28Z {
  display: block;
}
:root {

  /* https://flatuicolors.com/ */
}

.Radio__Radio___MguEh {
  display: block;
}
:root {

  /* https://flatuicolors.com/ */
}

.Button__Button___3OtH3 {
  display: inline-block;
  padding: 6px 18px;
  padding: 0.375rem 1.125rem;

  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 600;

  color: white;
  text-decoration: none;

  background: #34495e;
  border: 1px solid transparent;
  border-radius: 0.188rem;

  -webkit-transition-property: color, background, border-color, box-shadow;

  transition-property: color, background, border-color, box-shadow;
  -webkit-transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.2s;
          transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.2s;
  box-shadow: none;

  cursor: pointer
}

.Button__Button___3OtH3:focus {
  outline: 1px dashed #3498db
}

.Button__Button___3OtH3:hover {
  background: white;
  border-color: #34495e;
  color: #34495e
}

.Button__Button___3OtH3:active {
  color: white;
  background: rgb(104, 138, 172);
  border-color: transparent
}

.Button__Button___3OtH3:disabled {
  color: white;
  background: rgb(104, 138, 172);
  border-color: transparent;
  cursor: not-allowed
}

.Button__Button_full___3NYz3 {
    width: 100%;
  }

.Button__Button_accent1___2K1ED {
    background: #3498db
  }

.Button__Button_accent1___2K1ED:focus {
  outline: 1px dashed #34495e
}

.Button__Button_accent1___2K1ED:hover {
  border-color: #3498db;
  color: #3498db
}

.Button__Button_accent1___2K1ED:active {
  background: rgb(160, 207, 238)
}

.Button__Button_accent1___2K1ED:disabled {
  background: rgb(160, 207, 238);
  color: white;
  border-color: transparent
}

.Button__Button_accent2___27vyC {
    background: #9b59b6
  }

.Button__Button_accent2___27vyC:focus {
  outline: 1px dashed #34495e
}

.Button__Button_accent2___27vyC:hover {
  border-color: #9b59b6;
  color: #9b59b6
}

.Button__Button_accent2___27vyC:active {
  background: rgb(208, 177, 221)
}

.Button__Button_accent2___27vyC:disabled {
  background: rgb(208, 177, 221);
  color: white;
  border-color: transparent
}

.Button__Button_success___2nwnw {
    background: #2ecc71
  }

.Button__Button_success___2nwnw:focus {
  outline: 1px dashed #34495e
}

.Button__Button_success___2nwnw:hover {
  border-color: #2ecc71;
  color: #2ecc71
}

.Button__Button_success___2nwnw:active {
  background: rgb(147, 230, 182)
}

.Button__Button_success___2nwnw:disabled {
  background: rgb(147, 230, 182);
  color: white;
  border-color: transparent
}

.Button__Button_error___6gi6a {
    background: #e74c3c
  }

.Button__Button_error___6gi6a:focus {
  outline: 1px dashed #34495e
}

.Button__Button_error___6gi6a:hover {
  border-color: #e74c3c;
  color: #e74c3c
}

.Button__Button_error___6gi6a:active {
  background: rgb(245, 180, 173)
}

.Button__Button_error___6gi6a:disabled {
  background: rgb(245, 180, 173);
  color: white;
  border-color: transparent
}

/*# sourceMappingURL=index.css.map*/